@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 100vh; /* Makes it take full screen height */
}

.swiper-slide {
    display: flex; /* Ensures the image centers properly */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills the container without distortion */
}

